<!doctype html>
<html>
  <head>
    <title>Завдання</title>
  </head>
  <body>
    <div>
      <%= @partials.each do |partial| %>
        <%= partial %>
      <% end %>
      <hr>
    </div>
  </body>
</html>
