<!doctype html>
<html>
<head>
  <title>Розвязання</title>
  <style type="text/css">
    #math, #pre, #post {
      font-size: 4em;
    }
    body {
      font-family: "DejaVu Serif",serif;
    }
  </style>
</head>
<body>
  <div>
    <h3>Розвязання завдань по пошуку відношення R-омега</h3>
    <span>Розвязання основане на теорії з книги</span>
  </div>
  <%= @partials.each do |partial| %>
    <%= partial %>
    <hr>
  <% end %>
</body>
</html>
